* {
    border: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}


.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.game-area {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}

#game {
    background: #fff;
}

.game-table {
    padding: 50px;
    border-radius: 10px;
    border: solid 1px;
    box-shadow: -20px 20px 15px -3px rgba(0,0,0,0.1),20px -20px 15px -3px rgba(0,0,0,0.1);


}

.info-screen {
    background-color: gray;
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.controls-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table,td  {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #000000;

}

.btn {
    height: 100px;
    width: 100px;
    box-shadow: 0px 5px 10px 0px rbga(0,0,0,0.5);

}

#starto, #reseto {
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: aqua;
}
#starto:hover, #reseto:hover {
    transition: 0.5s;
    background-color: yellow;
    transform: rotate(360deg);
}

#starto:disabled {
    background-color: gray;
    transform: none;

}

.btn:hover {
    background-color: rgb(96, 11, 11);
}


.footer {
    margin-top: auto;
    height: 50px;
    padding-top: 5px;
    background-color: rgba(34, 125, 37, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}